@charset "UTF-8";


h1::first-letter{
	font-size: 5em;
	color:black;	
}

h1{
	color:blue;
	text-align:center;
}

h2{
	text-align:center;
	color:blue;
}

section.links1{
	background-color:;
}

section.links2{
	background-color:white;
}

img.derecha {
float: right;
  
}

body {
    background-color: #5f9ea0;
   }
  
   p::first-line{
	color:red;	
   
 
