@charset "UTF-8";


h1::first-letter{
	font-size: 5em;
	color:black;	
}

h1{
	color:blue;
	text-align:center;
}

h2{
	text-align:center;
	color:blue;
}

.links{
	background-color:;
	text-align:center;
	}
.links a:hover{
	background-color:yellow;
	color:red;
	}

section.links2{
	background-color:white;
}
.links2 :visited{
	background-color:blue;
	color:white;
}

img.derecha {
float: right;
position:relative;
bottom:170px;
  
}

body {
    background-color: #5f9ea0;
   }
  
   p::first-line{
	color:red;	
   
 
